.root {
  width: 90%;
}

.heading {
  min-width: 33%;
  flex-basis: "33.33%";
  flex-shrink: 0;
  display: block;
}

.secondaryHeading {
  font-size: 0.8rem !important;
  color: rgba(0, 0, 0, 0.54);
  flex-basis: "33.33%";
  flex-shrink: 0;
  display: block;
}

.routesContainer {
  width: 100%;
  padding-left: 10px;
}
