.text {
  font-size: 0.9rem !important;
  color: rgba(0, 0, 0, 0.8);
  display: inline-block;
  text-align: right;
  min-width: 4em;;
}

@-moz-keyframes blinker{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes blinker {  
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
.inminentText {
  font-size: 0.9rem !important;
  color: red;
  display: inline-block;
  text-align: right;
  min-width: 4em;;
  animation-name: blinker;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:blinker;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

