.root {
  width: 100%;
}

.text {
  font-size: 0.9rem !important;
  color: rgba(0, 0, 0, 0.8);
  display: inline-block;
  text-align: right;

  min-width: 4em;;
}

.text:first-child {
  width: 100px;
  text-align: left;
}

.text:not(:first-child) {
  padding: 0 10px;
}
